<div id="epg" x-data="epgView()">
    <template x-if="current">
        <div class="epg-data">
            <div class="epg-progress" x-ref="progressFill"></div>
            <div class="title-wrapper">
                <h4 x-text="current.title"></h4>
                <h5 class="ends-at" x-text="endsAt(current)"></h5>
            </div>
            <h5 x-text="current.subTitle"></h5>
            <div class="divider-white"></div>
            <h5 x-text="current.categories.join(', ')"></h5>
            <div class="divider-white"></div>
            <div class="description" x-text="current.description"></div>
        </div>
    </template>
    <template x-for="programme in next" :key="programme.id">
        <div class="epg-data">
            <div class="title-wrapper">
                <h4 x-text="programme.title"></h4>
                <h5 class="starts-at" x-text="beginsAt(programme)"></h5>
            </div>
            <h5 x-text="programme.subTitle"></h5>
            <div class="divider-white"></div>
            <h5 x-text="programme.categories.join(', ')"></h5>
            <div class="divider-white"></div>
            <div class="description" x-text="programme.description"></div>
        </div>
    </template>
</div>
