<section id="player-container" x-data="playerView()"
         @channel-selected.window="await playChannel($event.detail.channel, $event.detail.audioStreamIndex)">
    <div class="player-wrapper" x-show="currentChannel">
        <div class="player-title-wrapper">
            <img :src="currentLogo" :alt="currentTitle"/>
            <h2 x-text="currentTitle"></h2>
            <div class="lang-select-wrapper" x-show="languages.length > 0">
                <label for="lang-select">Language</label>
                <select id="lang-select"
                        x-model="selectedLanguage"
                        @change="await onLanguageChange(selectedLanguage)">
                    <template x-for="l in languages" :key="l.audioStreamIndex">
                        <option :value="l.audioStreamIndex" x-text="l.language"></option>
                    </template>
                </select>
            </div>
        </div>
        <video id="player" controls></video>
    </div>
</section>