<div class="menu-backdrop" x-show="$store.menu.open" @click="$store.menu.close()" x-cloak></div>
<aside id="sidebar" x-data="sidebarView()" :class="{ 'menu-open': $store.menu.open }">
    <div class="channel-search">
        <label>
            <input x-model="search" type="search" placeholder="search"/>
        </label>
    </div>
    <div class="channels">
        <template x-for="c in channels" :key="c.channelId">
            <div class="channel" :class="{ 'selected': $store.channels.isCurrent(c) }" @click="choose(c)">
                <button class="favourite"
                        :class="{ 'is-favourite': c.isFavourite }"
                        @click.stop="await $store.channels.toggleFavourite(c)"
                        :aria-pressed="c.isFavourite"
                        :title="c.isFavourite ? 'Remove from favourites' : 'Add to favourites'"
                        :aria-label="c.isFavourite ? 'Remove from favourites' : 'Add to favourites'"
                        x-text="c.isFavourite ? '★' : '☆'"></button>
                <span x-text="c.displayName"></span>
                <img :src="`/api/streaming/channels/${c.channelId}/logo`" :alt="c.displayName">
            </div>
        </template>
    </div>
</aside>
