<aside id="sidebar" x-data="sidebarView()">
    <div class="channel-search">
        <label>
            <input @keyup="searchChannel($event)" type="search" placeholder="search"/>
        </label>
    </div>
    <div class="channels">
        <template x-for="c in channels" :key="c.channelId">
            <div class="channel" :class="{ 'selected': c.selected }" @click="channelSelected(c)">
                <span x-text="c.displayName"></span>
                <img :src="`data:image/png;base64,${c.logo}`" :alt="c.displayName">
            </div>
        </template>
    </div>
</aside>