body, html {
    height: 100%;
    width: 100%;
    background-color: #1c2420;
    color: #f2f4f3;
    user-select: none;
}

header, main, input, button, div, main, body {
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    padding: 0.5em;
}

h2 {
    font-size: 1.5rem;
    padding: 0.5em;
}

a {
    color: #1e711e;
}

a:hover {
    color: #165316;
}

body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.link-button {
    background: none;
    border: none;
    padding: 0;
    color: #1e711e;
    text-decoration: underline;
    cursor: pointer;
    font: inherit;
}

main {
    height: 90%;
    display: flex;
    flex-direction: row;
}

select {
    border-radius: 0;
}

.bi {
    cursor: pointer;
    padding: 0.4em;
}

.icon-button {
    background-color: #1e711e;
    color: #f0f0f0;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s, transform 0.1s;
    padding: 0;
}

.icon-button i {
    line-height: 1;
}

.icon-button:hover {
    background-color: #258825;
    transform: scale(1.05);
}

.danger-icon {
    background-color: #711e1e;
}

.danger-icon:hover {
    background-color: #852424;
}


.icon-button:active {
    transform: scale(0.95);
}

.bi {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
}

i {
    display: block;
    width: 1em;
    height: 1em;
}

main form input {
    width: 100%;
    background: none;
    border: none;
    padding: 0.5em;
    border-bottom: 1px solid white;
    color: white;
    max-width: 320px;
}

main form input:focus-visible {
    border: none;
    border-bottom: 1px solid #1e711e;
    outline: none;
}


