body, html {
    height: 100%;
    width: 100%;
    background-color: #1c2420;
    color: #f2f4f3;
    user-select: none;
}

header, main, input, button, div, main, body {
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    padding: 0.5em;
}

h2 {
    font-size: 1.5rem;
    padding: 0.5em;
}

a {
    color: #1e711e;
}

a:hover {
    color: #165316;
}

body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}



main {
    height: 90%;
    display: flex;
    flex-direction: row;
}

select {
    border-radius: 0;
}

