#player-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

#player-container .player-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#player-container .player-title-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

#player-container .player-title-wrapper img {
    height: 80px;
}

#player-container .player-title-wrapper .lang-select-wrapper {
    margin-left: auto;
}

#player-container .player-wrapper video {
    height: 400px;
    min-width: 700px;
}
