#sidebar {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    min-width: 200px;
    max-width: 200px;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
    scrollbar-width: thin;
}

#sidebar img {
    align-self: center;
}

#sidebar .channel {
    cursor: pointer;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

#sidebar .channel:hover {
    background-color: #36453e;
}

#sidebar .channel.selected {
    color: #1e711e;
}

.channel img {
    max-width: 100px;
}