@import url('../reset.css');
@import url('../main.css');
@import url('../notification.css');
@import url('../header.css');
@import url('../modal.css');

@import url('users.css');
@import url('appSettings.css');


.box {
    border: 1px solid white;
    margin: 1em 1em 0 1em;
    padding: 0.5em;
}

.flex-row .box {
    margin-right: 0;
}

.actions {
    display: flex;
    gap: 0.25rem;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: auto;
    align-self: flex-end;
}