#app-settings {
    width: 320px;
    display: flex;
    flex-direction: column;
}

#app-settings .icon-button {
    align-self: flex-end;
}
@media (max-width: 800px) {
    #app-settings {
        width: 100%;
    }
}
