<header x-data="headerView()">
    <h1>init7Tv</h1>
    <ul>
        <li>
            <a href="/" :class="{ 'active': location.pathname === '/' }">tv</a>
        </li>
        <template x-if="canRecord">
            <li>
                <a href="/recording.html"
                   :class="{ 'active': location.pathname === '/recording.html' }">recording</a>
            </li>
        </template>
        <template x-if="userInfo?.isAdmin">
            <li>
                <a href="/admin.html" :class="{ 'active': location.pathname === '/admin.html' }">admin</a>
            </li>
        </template>
        <template x-if="userInfo?.isAdmin">
            <li>
                <a href="/dashboard.html" :class="{ 'active': location.pathname === '/dashboard.html' }">dashboard</a>
            </li>
        </template>
        <li>
            <form action="/logout" method="post">
                <button class="link-button" type="submit">logout</button>
            </form>
        </li>
    </ul>
</header>
