<div id="modal" x-data="$store.modal" x-show="visible" x-trap="visible" x-cloak>
    <div class="content-wrapper"
         @keydown.escape.prevent="cancel()"
         @keydown.enter.prevent="confirm()">
        <h2 class="modal-title" x-text="title"></h2>
        <div class="modal-text" x-text="description"></div>
        <div class="modal-actions">
            <button class="icon-button danger-icon" type="button" @click="cancel()">
                <i class="bi bi-ban"></i>
            </button>
            <button class="icon-button" type="button" @click="confirm()">
                <i class="bi bi-check-lg"></i>
            </button>
        </div>
    </div>
</div>
